
.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-green, 0.8), rgba($color-primary-orange, 0.8)),
    url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0 100%);

    position: relative;

    &__logo {
        position: absolute;
        top: 4rem;
        left: 4rem;
        height: 3.5rem;
    }

    &__text {
        font-weight: 400;
        position: absolute;
        color: $color-primary-white;
        text-transform: uppercase;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        backface-visibility: hidden;


        &--title {
            display: inline-block;
            font-size: 7rem;
            letter-spacing: 3rem;
            margin-bottom: 1.5rem;
            animation-name: moveRightToLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }

        &--subtitle {
            display: inline-block;
            font-size: 3.3rem;
            letter-spacing: 1rem;
            margin-bottom: 5rem;
            animation: moveLeftToRight 1s ease-out;
        }
    }

}
